/* Button Styles */
.register-button {
  min-width: 14.4rem;
  background-color: #21262e; /* Google Blue */
  color: #d1a7a7;
  border: 2px solid #2b2d30;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #151816; /* Google Green */
}

/* Form Styles */
.pgn__form-autosuggest__wrapper > .pgn__form-group {
  margin-bottom: 0 !important;
}

/* Email Suggestion Styles */
.email-suggestion-alert-error {
  padding: 0.5rem 1rem;
  background-color: #292424; /* Red */
  color: #fff;

  .email-suggestion__close {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .email-suggestion__text {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }

  .alert-link {
    color: #4285f4 !important; /* Google Blue */

    &:hover {
      text-decoration: underline;
      color: #1a73e8; /* Google Dark Blue */
    }
  }
}

.email-suggestion-alert-warning {
  color: #f4b400 !important; /* Yellow */

  &:hover {
    text-decoration: underline;
    color: #f4b400; /* Yellow */
  }
}

/* Checkbox Styles */
.form-field--checkbox {
  .pgn__form-label {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
  margin-left: 3px;
}

/* Username Suggestions Styles */
.username-suggestions--chip {
  padding: 1px 0.5rem;
  margin: 0.25rem;
  border-radius: 0.375rem;
  line-height: 24px;
  font-size: 12px;
  font-weight: normal;
  color: #4285f4; /* Google Blue */
}

.username-suggestion--label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-right: 0.25rem;
}

.username-suggestions {
  position: relative;
  margin-top: -2.5rem;
  margin-left: 15px;
}

.username-suggestions__close__button {
  right: 1rem;
  position: absolute;
}

.username-suggestions__error {
  position: relative;
  margin-top: -13.7%;
  margin-bottom: 11%;
  margin-left: 15px;
}

/* Responsive Styles */
.username-scroll-suggested--form-field {
  width: 20rem;
  white-space: nowrap;
  overflow-x: auto;
  display: inline-flex;
}

@media (max-width: 372px) {
  .username-scroll-suggested--form-field {
    width: 11rem !important;
  }
  .username-suggestions__close__button {
    right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .username-scroll-suggested--form-field {
    width: 15rem;
  }
  .username-suggestions__close__button {
    right: 0.5rem;
  }
}

/* Form Field Error Styles */
.form-field-error {
  border: 2px solid #ca3a2f !important; /* Danger Red */
  background-color: #ffdddd; /* Light Red */

  input {
    border: none;
  }
}
